.resource-list {
  max-height: 350px;
  overflow-y: auto;

  &.dark {
    color: black;
  }
}

.is-active {
  background-color:#61616163;
  opacity: 0.7;
}

.resource-list-item {
  cursor: pointer;
}
